.hsk-hilight{
  color: red;
}
.hsk-talent-options-wrapper .form-table th{
    width: 300px;
}
table {
    border-spacing: 0;
}
/*----------------------------------------
 # Talent Profiles Dash Board Widget
 ---------------------------------------*/
ul.hsk-user-post-wrapper li {
    display: block;
    overflow: hidden;
}
 ul.hsk-user-post-wrapper h4{
 	float: left;
 }
 .hsk-admin-user-post-align {
    float: right;
}

.wp-picker-holder{
	position: absolute;
	z-index: 1;
}

/*----------------------------------------
 # Widget Styles
 --------------------------------------*/
 .so-content.panel-dialog label{
 	display: block;
 }

 /*-------------------------------------
  # Rwmb Meta boxes heading
  -------------------------------------*/
  .rwmb-heading-wrapper h4 {
    background: #f9f9f9;
    margin: 0 -12px;
    padding: 10px 12px;
    border-top: 1px solid rgb(230, 230, 230);
}

.hsk-talent-options-wrapper #poststuff .postbox h3{
	cursor: pointer;
}
.hsk-widgets-checkboxes label {
    display: inline-block!important;
}
.hsk-widgets-checkboxes label:first-child{
  display: block!important;
}
.talent-single-page-title-buttons-colors{
  display: none!important;
}
/**
 * Widgets Panel styles
 */
.widgets-fields-group-panel{
  border:1px solid #f3f3f3;
  padding:20px;
  margin-bottom: 20px;
}
.widgets-fields-group-panel h4{
  background: #f3f3f3;
  color: #252525;
  padding: 12px 15px;
  margin-left: -20px;
  margin-top: -20px;
  margin-right: -20px;
}
.widgets-fields-group-panel label {
    display: block;
    font-weight: 500;
}

        .sortcontainer {
            padding: 0 0 5px 0;
        }

        .sortcontainer .field {
            margin: 8px 0;
            cursor: ns-resize;
        }

        .sortcontainer .field table {
            background-color: #f1f1f1;
            border: 1px dotted gray;
            padding: 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }

        .sortcontainer .field table.bad-field {
            background-color: #FFEBE8;
            border-color: #CC0000;
        }

        .sortcontainer .field input.regular-text {
            width: 100%;
        }

        .sortcontainer .field th {
            font-size: 10px;
            font-style: normal;
        }

        .sortcontainer .field td {
            padding: 0 5px;
        }

        .sortcontainer .num {
            width: 3%;
        }

        .sortcontainer .slug {
            width: 10%;
        }

        .sortcontainer .name {
            width: 20%;
        }

        .sortcontainer .description {
            width: 30%;
        }

        .sortcontainer .userlevel {
            width: 20%;
        }

        .sortcontainer .actions {
            width: 7%;
        }
        td.hsk-user-roles {
            height: 100px;
            overflow: hidden;
            display: block;
            overflow-y: scroll;
        }
        .sortcontainer .delete {
            font-size: 11px;
            font-style: italic;
            color: #666;
            float: right;
        }
